@media (max-width:1199px){

.sec-content{
    margin-left: 50px;
}
}
@media (max-width:992px){
    h1{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 71px;
    }
    h2{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
    h3{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
    h4{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }
    h5{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;
    }
.common-padd{
    padding: 60px 20px;
}
button{
    border:none;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:5px;
      position:relative;
    overflow:hidden;
    background: none;
    margin-top: 20px;
    border-bottom: 1px solid transparent;
  }
.sec-content{
   padding: 40px 20px;
   margin-left: 50px;
}
#cursor{
    display: none;
}
#cursor-border {
    display: none;
}
nav ul li{
    padding: 10px 20px;
}
.about-content{
    width: 100% !important;
}
.footer-logo img{
    width: 20%;
}
.footer-social-icons{
    height: 200px;
}
}
@media (max-width: 767px) and (min-width: 360px){
    h1{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 71px;
    }
    h2{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
    h3{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
    h4{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }
    h5{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;
    }
.sec-content{
   padding: 40px 0px;
   margin: 0;
}
.common-padd{
    padding: 40px 0px;
}
.home-banner{
    padding: 80px 30px 80px 30px
}
.banner-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 20px;
}
.column-reverse{
    display: flex;
    flex-direction: column-reverse;
}
.sec{
    padding: 40px 30px;    
}
.footer{
    padding: 20px;
    text-align: center;
}
.footer-logo img {
    width: 30%;
}
.footer-social-icons ul{
    justify-content: center;
}
.footer-bottom{
    padding: 20px;
}
.d-sm-none{
    display: none;
}
.home-banner{
    height: 100% !important;    
}
.about-me-img{
    display: flex;
    justify-content: center;
}
.about-content{
    width: 100% !important;
    text-align: center;
    padding: 40px;
}
.mywork-content {
    width: 100%;
    text-align: center;
    padding: 40px 0px;   
}

}
@media (max-width: 576px) and (min-width: 360px){
    h1{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 71px;
    }
    h2{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
    h3{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }
    h4{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }
    h5{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;
    }
    .banner-content h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 20px;
    }
    .logo img {
        width: 40%;
    }
    .footer-logo img {
        width: 50%;
    }
    .footer-logo {
        margin-bottom: 35px;
    }
    .home-banner{
        height: 100vh !important;
    }  
    .about-content {
        width: 100% !important;
        text-align: center;
        padding: 40px 20px;
    }
}
